@import url("./keyframes.css");

/* archivo-regular - latin Font*/
@font-face {
  font-display: swap; 
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/archivo/archivo-v19-latin-regular.woff2') format('woff2'); 
}
/* Inter Font*/
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/inter/inter-v13-latin-regular.woff2') format('woff2'); 
}

/* manrope-regular - latin */
@font-face {
font-display: swap;
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
src: url('../fonts/manrope-v15-latin-regular.woff2') format('woff2');
}

p, .subtext {color: #D0DAF5;}

h1 {
  font-family: "Archivo", sans-serif;
  font-size: 62px !important;
}

.carousel-control-prev,
.carousel-control-next {
  bottom: unset !important;
  top: unset !important;
  position: relative !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none !important;
  height: unset !important;
}
.rotate-180 {
  rotate: 180deg !important;
}
.partner-program-title {
  font-size: medium;
  color: #ed2b24;
}
.join-with-us-paragraph {
  font-size: 1.25rem;
}
.text-red {
  color: #ed2b24 !important;
}
.btn-wrapper{
  display: flex;
  justify-content: center;
}
.btn-wrapper .btn-lets-talk {
  box-shadow: 10px 10px #640909;
  background-color: #ff0000 !important;
  min-width: 210px;
  height: 70px;
  display: flex ;
  justify-content: center;
  align-items: center;
  border: none !important;
}
.btn-lets-talk:hover {
  animation: button-transform-reduce-emboss 0.2s forwards ease-in-out;
  animation-direction: alternate;
  transition: background-color 1s ease-in-out;
  box-shadow: 10px 10px #640909;
  background-color: #640909 !important;
  border-color: transparent;
}
.contact-us-arrow {
  padding-left: 15px;
  rotate: -35deg;
}
.header-btn-contact-us {
  background: #ed2b24 !important;
  color: #fff;
}
.header-btn-contact-us:hover {
  background: #fff !important;
  color: #ed2b24 !important;
}
.btn-contact-us {
  box-shadow: 5px 5px black, 4px 6px white, 6px 4px white;
  background-color: black !important;
  padding: 10px 10px 5px 20px !important;
  align-items: center;
  display: inline-flex !important;
  min-width: 145px;
  border-color: white !important;
}
.btn-contact-us:hover {
  /* animation: button-transform-reduce-emboss 0.5s forwards ease-in; */
  animation-direction: alternate;
  box-shadow: 5px 5px #640909, 4px 6px #640909, 6px 4px #640909;
  background-color: #ff0000 !important;
  transition: background-color .4s ease-in, box-shadow .4s ease-in;
  /* transition: box-shadow 1s ease-in; */
}
.about-us-paragraph {
  font-size: 1.3rem;
}
.mouseBackground {
  position: relative;
  width: 100%;
  height: 100%;
}
.mouse-background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  border-radius: 50%;
  opacity: .2;
  box-shadow: 0 0 200px 170px rgb(255 0 0 / 55%);
  border: 0;
}
.project-title {
  display: block;
  color: white;
}
.nav-link:focus {
  color: white !important;
}
.home-bg {
  background: #000000;
  color: #fff;
  overflow: auto;
  background-size: cover;
  height: 100vh;
}
.navbar .container {background: #000;}
.container {
  background: #050413;
}

.navbar .navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  .lead {
    color: #d0daf5;
    width: 80%;
    margin: 2rem auto 2rem;
  }
  .nav-link {
    color: #fff;
    padding-bottom: 0;
  }

.navbar .navbar-brand {width: 4.4rem; height: 3.6rem;}

.navbar .navbar-brand img {width: 100%; height: 100%}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.nav-link:hover,
.nav-link:focus,
.footer-navbar > li > a:hover,
.dropdown-item:focus, 
.dropdown-item:hover {
    color: #ed2b24 !important;
    background: url(../images/a_hover.png) no-repeat 20px 30px;
    background-color: transparent !important;
  }

  .footer-navbar > li > a:hover {background: url(../images/a_hover.png) no-repeat 0 30px;}

  .navbar-nav {
    display: block;
    margin: 0 auto;
    position: relative;
  }


  .navbar-nav > li > a,
  .footer-navbar > li > a {
    color: #fff;
    display: block;
    padding: 0 20px 10px !important;
    text-align: left;
    text-decoration: none;
    padding-bottom: 1px;
  }
  
  .footer-navbar > li {padding: 10px 0 !important;}

  .footer-navbar > li > a {padding: 0 0 10px !important;}

  .footer-navbar > li > a,
  .footer-navbar > li { color: #D0DAF5}

  /* .footer-navbar-title {padding: 0 20px} */
  .footer-navbar.social-block li {
    display: inline-block;
    margin: 10px 20px 0 0;
  }
  .footer-navbar.social-block li a {
    display:inline-block;
    padding: 0 !important;
  }
  .footer-navbar .icon-instagram {
    background: url("../images/icon-instagram.svg") no-repeat;
    width: 20px;
    height: 20px;
  }
  .footer-navbar .icon-twitter {
    background: url("../images/icon-twitter.svg") no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
  }
  .footer-navbar .icon-youtube {
    background: url("../images/icon-youtube.svg") no-repeat;
    width: 23px;
    height: 20px;
    display: inline-block;
  }
  .footer-navbar .icon-instagram:hover {
    background: url("../images/icon-instagram-red.svg") no-repeat;
  }
  .footer-navbar .icon-twitter:hover {
    background: url("../images/icon-twitter-red.svg") no-repeat;
  }
  .footer-navbar .icon-youtube:hover {
    background: url("../images/icon-youtube-red.svg") no-repeat;
  }
  .footer-navbar.social-block li:hover {fill:#ED2B24;}
  .navbar-nav ul {
    background: #ddd;
    height: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    transition: all .5s ease;
    top: -200px;
    display: none;
    border: none;
    border-radius: 0;
    background: #000;
  }
  
  .navbar-nav li:hover > ul {
    height: auto;
    opacity: 1;
    transform: translateY(0);
    top:35px;
    display: block;
  }
  
  .navbar-nav ul a {
    color: #000;
    display: block;
    padding: 5px 20px;
  }

  .navbar-nav li > ul > li a {
    color: #fff;
  }

  .navbar-nav li.dropdown a::after {
    content: ""
  }

  .home-banner.drive-your-business-text {
    /* -webkit-text-stroke-width: 1px;
    color: #000 !important;
    -webkit-text-stroke-color: #fff;
    overflow: hidden;
    font-size: 3.5rem;
    position: relative;
    z-index: 1;*/
  margin: 0 20px;
  z-index: 1;
  position: relative;
  display: inline-block;
  font-size: 4.8em;
  color: #000 !important;
  overflow: hidden;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  background: linear-gradient(to right, #fff, #fff 50%, #000 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 800ms ease;
  }
  .home-banner.drive-your-business-text:hover {
    /* -webkit-text-fill-color: #fff; */
    background-position: 0 100%;
    /* transition: all 5s ease-in-out; */
  }

.services-wrapper {position: relative; display: inline-flex;}

.services-wrapper h2 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.services-wrapper .icon-wrapper .services-icon-big {
  background: url("../images/services/services-home-icon-big.png") no-repeat;
  width: 84px;
  height: 89px;
  display: inline-block;
  position: absolute;
  top: -64px;
  left: 136px;
  transition: transform 1s ease-in-out;   
}

.services-wrapper .icon-wrapper .services-icon-small {
  background: url("../images/services/services-home-icon-small.png") no-repeat;
  width: 46px;
    height: 48px;
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 208px;
    transition: transform .9s ease-in-out;
}
.services-wrapper h2 {
  color: #fff;
  transition: color 1s ease-in-out;
}

.services-wrapper:hover h2 {
  color: red
}
.services-wrapper:hover .icon-wrapper .services-icon-small {
  transform: rotate(360deg);
}

.services-wrapper:hover .icon-wrapper .services-icon-big {
  transform: rotate(-180deg);
}
  .card-title {
    background-color: #333;
    padding: 10px 5px !important;
    color: #fff;
    border-radius: 15px 15px 0 0;
  }
  .card-title:hover {
    color: red;
    background: none;
    font-weight: bold;
  }
  /* .card-img-top {
    border-radius: 15px;
  } */

  .service-card .drive-your-business-text {
    -webkit-text-stroke-width: 1px;
    color: #000 !important;
    -webkit-text-stroke-color: #fff;
    transition: color 0.5s ease;
    overflow: hidden;
    font-size: 3.5rem;
    position: relative;
    z-index: 1;
    margin: 0 20px;
  }

  .card:hover .drive-your-business-text {
    -webkit-text-stroke-width: 1px;
    color: #fff !important;
    -webkit-text-stroke-color: #fff;
    transition: color 0.5s ease;
    overflow: hidden;
    font-size: 3.5rem;
}

  #featureContainer .card {overflow: hidden;}
  #featureContainer .card-text {
    bottom: 40px !important;
    max-width: 100% !important;
    width: 100% !important;
    font-weight: 600;
    font-size: 20px;
  }
  .card-img-overlay {
    padding: 0;
  }
 .service-card .card-text,
 #featureContainer .card-text {
    background-color: #000 !important;
    padding: 10px 15px !important;
    color: #fff;
    border-radius: 0 10px 10px 0;
    max-width: 350px;
    font-size: 20px;
    bottom: 50px;
    left: 0;
    position: absolute;
  }
  .card-text span {color: red; font-size: 24px; font-weight: bold;}


.contact-us-img {
  border-radius: 30px;
}
.white-to-red-on-hover-color {
  color: white;
}
.white-to-red-on-hover-color:hover {
  animation: red-wave 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@media (min-width: 768px) {
  .padding-px-4-web {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
}
.text-white-hover:hover {
  animation: white-wave 2s ease-in infinite;
}

.data-container {
  height: 100vh;
  width: 100vw;
  background-color: #e5e4e2;
  display: flex;
  align-items: center;
  position: absolute;
  overflow: hidden;
}

.data-text {
  width: 100%;
}

#white {
  color: #22b573;
  animation: erase 4s ease-in infinite;
}
.homepage-card-img {
  width: 100%;
  /* max-height: 425px; */
}
.carousel-inner {
  max-height: 500px;
}


@media (min-width: 1024px) {
  .service-card-padding {
    padding-top: 10rem;
  }
}

#crossCarouselContainer{
transform: skewY(10deg);
padding: 0;
}
#crossCarouselContainer img{margin-right: 1rem;}

 .services-block .card {
    width: 590px; 
    height: auto !important; 
    border-radius: 1rem; 
    overflow: hidden; 
    position: relative;
    background-color: #000 !important;
    border-radius: 0 !important;
  }

  .services-block .card .cloud-sol-service {
    width: 590px;
    height: 702px;
    background-image: url("../images/services/cloud-sol-image.jpg");
    background-size: cover;
    transition: all 1s ease-in-out;
    
  }
  .services-block .card:hover .cloud-sol-service {
    background-image: url("../images/services/colud-sol-hover-image.jpg");
    background-size: cover;
    transform: scale(1.2, 1.4);
}

.services-block .card .custom-software-service {
  width: 590px;
  height: 702px;
  background-image: url("../images/services/custom-software-service-image.jpg");
  background-size: cover;
  transition: all 1s ease-in-out;
  
}
.services-block .card:hover .custom-software-service {
  background-image: url("../images/services/custom-software-service-hover-image.jpg");
  background-size: cover;
  transform: scale(1.2, 1.4);
}

.services-block .card .mobile-app-development-service {
  width: 590px;
  height: 702px;
  background-image: url("../images/services/mobile-app-dev-service-image.jpg");
  background-size: cover;
  transition: all 1s ease-in-out;
  
}
.services-block .card:hover .mobile-app-development-service {
  background-image: url("../images/services/mobile-app-dev-service-hover-image.jpg");
  background-size: cover;
  transform: scale(1.2,1.4);
}

.services-block .card .outsourcing-service {
width: 590px;
height: 702px;
background-image: url("../images/services/outsourcing-service-image.jpg");
background-size: cover;
transition: all 1s ease-in-out;

}
.services-block .card:hover .outsourcing-service {
background-image: url("../images/services/outsourcing-service-hover-image.jpg");
background-size: cover;
transform: scale(1.2, 1.4);
}

 .services-block .card img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  transition: 200ms ease-in-out transform,
              200ms ease-in-out filter
}

.services-block .card:hover img {transform: scale(1.2, 1.4); transition: 1s ease-in-out;}

.services-block .card:hover .drive-your-business-text {
  -webkit-text-stroke-width: 1px;
  color: #fff !important;
  -webkit-text-stroke-color: #fff;
  transition: color 0.5s ease-in-out; /* Smooth transition */
  overflow: hidden;
  font-size: 3.5rem;
}

.card-img-wrapper {
  position: absolute;
  bottom: -60px;
  left: 0;
  transition: bottom 0.5s ease-in-out, opacity .5s ease-in-out;
  width: 100%;
  transition: all 1s ease-out;
}

.subtext-wrapper {opacity: 0;position: absolute; bottom: -70px;padding: 10px; transition: all 1s ease-in;}

.card:hover .card-img-wrapper {
  bottom: 40px;
}

.card:hover .card-text,
#featureContainer .card:hover .card-text {
  bottom: 70px !important;
  background: transparent !important;
}

#featureContainer .card:hover .card-text {
  bottom: 40px !important;
}

.card:hover .subtext-wrapper {
  opacity: 1;
  bottom: -2rem; /*-20px*/
  position: absolute;
  width: 100%;
  transition: all 1s ease-in-out;
}
.overlay {
  position: absolute;
    height: 0;
    width: 100%;
    bottom: -60px;
    background: #000;
    opacity: .3;
    border-radius: 15px;
    transition: all 1s ease-out;
}

 .card:hover .overlay {
  height: 12rem;
}

.subtext-wrapper .card-sub-text {font-size: 18px;}

#featureContainer .card:hover .overlay {height: 10rem;}

.see-more-btn {
  background: url(../images//services/charm_arrow-up.svg) no-repeat 88px 0px;
  color: #fff;
  width: 130px;
  float: right;
  height: 42px;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
}

.see-more-btn:hover {color: red;filter: red}

@media screen and (min-width: 576px) {
  #featureContainer .carousel-inner,
  #crossCarouselContainer .carousel-inner {
    display: flex;
  }
  #featureContainer .carousel-item,
  #crossCarouselContainer .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100%/2);
  }
}

#featureCarousel {padding: 0}

 #featureContainer .card,
 #crossCarouselContainer .carousel-item {
  margin: 0 1em 0 0;
  background-color: #000;
}
#featureContainer .carousel-inner .carousel-item:first-child .card {margin-right: 1rem;}

#featureContainer a{
  text-decoration: none;
}
#featureContainer .featureCarousalSwiper {padding-bottom: 60px;}
#featureContainer .swiper-button-prev, #featureContainer .swiper-button-next {bottom: 0; left: 0; top: auto;}
#featureContainer .swiper-button-next {left: 50px;}
#featureContainer .indicator,
#featureContainer .swiper-button-prev,
#featureContainer .swiper-button-next{
  background: #ed2b24;
  padding: 10px 16px;
  border-radius: 50px;
  color: #fff;
  opacity: 1;
  height: 32px;
}
#featureContainer .swiper-button-prev::after,
#featureContainer .swiper-button-next::after {font-size: 16px !important;}
#featureContainer .indicator:hover{
  background-color: #ed2b24;
  transition: 200ms;
}
#featureContainer .indicator,
#featureContainer .indicator:hover{
  color: white;
  transition: 200ms;
}

#featureContainer .indicator.disabled,
#featureContainer .swiper-button-prev.swiper-button-disabled,
#featureContainer .swiper-button-next.swiper-button-disabled {
  color: lightgray;
  background: #888888;
}

.swiper-container {
  height: calc(100vh - 20px);
  margin: 60px;
}


.swiper-slide {
  /* width: 31vw !important; 36.5vw !important */
  overflow: hidden;
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.swiper-wrapper {
  -webkit-transition-timing-function:linear!important; 
  -o-transition-timing-function:linear!important;
  transition-timing-function:linear!important; 
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .footer-navbar.social-block li {margin: 10px 0 0;} 
  .card:hover .subtext-wrapper {bottom: -2.5rem;}
  .subtext-wrapper .card-sub-text {margin-bottom: 0;}
}

@media (min-width: 992px) and (max-width: 1199px) {
  .services-block .card .custom-software-service,
  .services-block .card .cloud-sol-service,
  .services-block .card .mobile-app-development-service,
  .services-block .card .outsourcing-service {
    width: 100%; 
    height: 100%; 
    aspect-ratio: 1;
  }

  .service-card .subtext-wrapper .card-sub-text {margin: 0;}
  .footer-navbar.social-block li {margin: 10px 0 0;}
}


@media (max-width: 991px){
  .navbar.sticky-top {padding:10px !important}
  .navbar-nav > li > a {padding: 10px 0 !important;}
  .navbar .navbar-brand {
    width: 3.4rem;
    height: 2.6rem;
}
  .navbar-toggler-icon {font-size: 1rem;}
  .navbar-nav .nav-link{font-size: 14px;}
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link:hover {
    background-position: 0 30px;
  }
  .header-btn-contact-us {
    padding: 5px 10px !important;
    font-size: 14px !important;
    line-height: 16px !important;
    margin-top: 10px;
  }
  #featureContainer .carousel-item,
  #crossCarouselContainer .carousel-item {
    flex: 0 0 calc(100%);
  }

  #featureContainer .carousel.pointer-event,
  #featureContainer .carousel-inner,
  #featureContainer .card {padding: 0; margin: 0;}

  #featureContainer .card:hover .overlay {height: 8rem;}

  #featureContainer .card:hover .card-text {bottom: 1rem !important;}

  #featureContainer .card .card-text {font-size: 1rem;}

  #featureContainer .card .subtext-wrapper {font-size: .8rem;}

  .services-block .card .custom-software-service,
  .services-block .card .cloud-sol-service,
  .services-block .card .mobile-app-development-service,
  .services-block .card .outsourcing-service {
    width: 100%; 
    height: 100%; 
    aspect-ratio: 1;
  }

  .card:hover .subtext-wrapper {bottom: -3rem;}

  .subtext-wrapper .card-sub-text {font-size: 16px; margin: 0;}

  .footer-navbar.social-block li {
    margin: 10px 0 0;
    padding: 10px !important;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .home-banner.drive-your-business-text {
    margin: 0;
    font-size: 2rem !important;
  }

  .drive-your-business-text,
  .services-block .card:hover .drive-your-business-text {
    font-size: 1.8rem !important;
    margin: 0 10px;
  }

  .service-card .card-text {
      font-size: 14px;
      bottom: 60px !important;
      padding: 10px !important;
      margin-bottom: 5px;
      line-height: 1;
  }

  .card:hover .card-text {bottom: 40px !important;}

  .subtext-wrapper .card-sub-text {font-size: 12px; margin-bottom: 0;}

  .subtext-wrapper .see-more-btn {
    background: none;
    font-size: 12px;
    text-align: right;
    width: 130px;
    float: right;
    height: 42px;
    padding: 10px;
  }

  .card:hover .overlay {height: 8rem;}


  .lead {
    font-size: .9rem !important;
    font-weight: 300 !important;
    margin: 20px 0;
    width: auto;
  }
  .btn-wrapper .btn-lets-talk {
    min-width: 120px;
    height: 40px;
  }

  .service-card.card:hover .subtext-wrapper {font-size: .8rem; bottom: -3.5rem;}

  .services-wrapper h2 {font-size: 28px;}

  .services-wrapper .icon-wrapper .services-icon-big {
    width: 35%;
    height: 100%;
    top: -30px;
    left: 100px;
    background-size: contain;
  }

  .services-wrapper .icon-wrapper .services-icon-small {
    width: 20%;
    height: 60%;
    top: 5px;
    left: 130px;
    background-size: contain;
  }


  #featureCarousel .card:hover .subtext-wrapper {bottom: -3rem;}
  .container .project-container {margin: 20px 0 !important;}

  .partner-container .partner-post h1,
  .about-container .about_us h1,
  .contact-us-container .contact_us h1 {
    font-size: 28px !important;
  }

  .partner-container .partner-post .join-with-us-paragraph,
  .about-container .about_us .about-us-paragraph {font-size: .8rem;}

  .contact-us-container .contact_us .btn-contact-us,
  .partner-container .partner-post .btn-contact-us {
    padding: 5px 5px 5px 15px !important;
    min-width: 95px;
  }

  .partner-container .partner-post .btn-contact-us .contact-us-arrow,
  .contact-us-container .contact_us .btn-contact-us .contact-us-arrow {
    padding: 5px 0 0 5px;
    font-size: 1.7em;
  }
  .swiper-wrapper {height: 100% !important;}
  .swiper-slide, .swiper-slide img {width: 100% !important; height: 100% !important;}

  .bd-footer p.subtext {font-size: 14px;}

  .footer-navbar > li {padding: 0 !important; font-size: 14px;}
  .footer-navbar > li > a,
  .footer-navbar > li > a:hover {padding: 6px 0 !important;}

  .footer-navbar > li > a:hover {background-position: 0 30px;}

  .footer-navbar-title {
    display: flex; 
    justify-content: center;
  }

  .bd-footer ul.footer-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .bd-footer ul.footer-navbar.social-block {flex-direction: row;}
}

